
.animatedText {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.167;
  letter-spacing: 0em
}

.iconsXtext {
  display: flex;
	flex-direction: column;
	align-items: center;  
}

.smIcons {
  display: flex;
	flex-direction: row;
	align-items: center;  
}

/* a {
  color: white;
  text-decoration: none
} */


/* used styles */
a:hover { 
  color: #C01F24
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


/* .appPadding gets called in the App.js in render method

css applies if screen size is less than 768*/
@media(max-width: 768px) {
  .appPadding {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* css applies if the screen size is greater than 768*/
@media(min-width: 768px) {
  .appPadding {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*scroll-bar(on the right) design*/
::-webkit-scrollbar {
  width: 12px
}
::-webkit-scrollbar-track {
  background-color: #2D2D2D;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#1A1A1A, #1A1A1A);
  border-radius: 4px;
}
